<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.farm_monitoring">
    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:usesCleartextTraffic="true"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_logo"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_logo_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Farm_monitoring">
        <activity android:name=".ui.mypage.NoticeActivity"></activity>
        <activity android:name=".ui.mypage.AccountActivity" />
        <activity android:name=".ui.home.community.CommunityWriteActivity" />
        <activity
            android:name=".ui.LoadingActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.SignUpActivity" />
        <activity android:name=".ui.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize"/> <!--키보드가 보여질 때 화면 스크롤할 수 있도록 함.-->
        <activity
            android:name=".ui.home.community.CommunityDetailActivity"
            android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.MainActivity" />
    </application>

</manifest>